.content-box {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 5px solid green;
  margin: 20px auto;
}

.border-box {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 5px solid green;
  margin-top: 50px;
}

.item {
  width: 100px;
  height: 30px;
  background-color: paleturquoise;
  border: 1px solid #000000;
  padding: 5px 10px;
}

.clearfix-container {
  height: 100px;
}

.clearfix-item {
  margin: 10px;
  float: left;
}

.clearfix-bottom {
  background-color: gray;
  width: 500px;
  height: 100px;
}

.table-container {
  display: table;
}

.table-item {
  display: table-cell;
  vertical-align: middle;
}

.flex-container {
  display: flex;
}

.grid-container {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
