.body {
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  padding-bottom: 40px;
  @include screen(smartphone) {
    flex-flow: column;
  }

  .sub-contents {
    margin-left: 15px;
    @include screen(smartphone) {
      margin: 0;
    }
  }
}