!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined', rel: 'stylesheet' }
    %link{ rel: "stylesheet", href: "./css/style.css" }

  %body
    .header
      .header__container
        %h1.header__logo-box
          %img.header__logo{ src: "img/logo.png", alt: "logo" }
        .header__search
          %span.material-icons-outlined.header__search-icon search
          .header__search-text 例) 式場名など気になるキーワード

    .navigation-bar
      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon account_balance
        .navigation-bar__text 結婚式場
      
      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon{ style: "outline" } photo_library
        .navigation-bar__text ニュース

      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon navigation
        .navigation-bar__text ドレス

      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon headset_mic
        .navigation-bar__text デスク

      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon group
        .navigation-bar__text 花コミュ        

    %img.top-image{ src: "https://img2.mwed.jp/second_level/categories_main_pc.jpg"}

    .wrapper
      .wrapper__main
        .place-styles 
          %h2.place-styles__title こだわりから式場を探す
          %p.place-styles__description 会場ジャンルやこだわりから式場を探そう。
          .place-styles__container
            .place-styles__container-content
              %img.place-styles__image{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/hotelwedding_top.jpg"}
              .place-styles__image-name ホテル
            .place-styles__container-content
              %img.place-styles__image{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/housewedding_top.jpg"}
              .place-styles__image-name レストラン
            .place-styles__container-content
              %img.place-styles__image{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/restaurantwedding_top.jpg"}
              .place-styles__image-name ゲストハウス
            .place-styles__container-content
              %img.place-styles__image{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/shrinewedding_top.jpg"}
              .place-styles__image-name 神社・仏閣婚
            .place-styles__container-content
              %img.place-styles__image{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/church_top.jpg"}
              .place-styles__image-name 教会・チャペル
            .place-styles__container-content
              %img.place-styles__image{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/weddinghall_top.jpg"}
              .place-styles__image-name 専門式場
          .more
            .more__text もっと見る
            -# もっといいアイコンあるかも
            .more__icon.material-icons keyboard_arrow_right

        .news
          %h2.news__title ニュースを読んで式場を探す
          %p.news__description 結婚式の種類や式場のまとめ記事を読んで、好きな式場を見つけよう。
          .news__container
            %img.news__image{ src: "img/place01.jpg"}
            .news__information
              .news__text ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__date 2020年5月26日     

          .news__container
            %img.news__image{ src: "img/place02.jpg"}
            .news__information
              .news__text ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__date 2020年5月26日

          .news__container
            %img.news__image{ src: "img/place03.jpg"}
            .news__information
              .news__text ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__date 2020年5月26日

          .news__container
            %img.news__image{ src: "img/place04.jpg"}
            .news__information
              .news__text ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__date 2020年5月26日

          .news__container
            %img.news__image{ src: "img/place05.jpg"}
            .news__information
              .news__text ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__date 2020年5月26日  
          .more
            .more__text もっと見る
            -# もっといいアイコンあるかも
            .more__icon.material-icons keyboard_arrow_right                                                      


      .wrapper__side
        .ranking
          %h2.ranking__title 東京都の式場ランキング
          .ranking__chapel-container
            .ranking__container
              %img.ranking__image{ src: "img/place01.jpg"}
              .ranking__information
                .ranking__name 国際みんなのウェディングホテル
                .ranking__evaluation
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  .ranking__num 4.51
                .ranking__text 都会にいながら森のような庭園

            .ranking__container
              %img.ranking__image{ src: "img/place02.jpg"}
              .ranking__information
                .ranking__name 国際みんなのウェディングホテル
                .ranking__evaluation
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  .ranking__num 4.51
                .ranking__text 都会にいながら森のような庭園              

            .ranking__container
              %img.ranking__image{ src: "img/place03.jpg"}
              .ranking__information
                .ranking__name 国際みんなのウェディングホテル
                .ranking__evaluation
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  .ranking__num 4.51
                .ranking__text 都会にいながら森のような庭園

            .ranking__container
              %img.ranking__image{ src: "img/place04.jpg"}
              .ranking__information
                .ranking__name 国際みんなのウェディングホテル
                .ranking__evaluation
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  .ranking__num 4.51
                .ranking__text 都会にいながら森のような庭園

            .ranking__container
              %img.ranking__image{ src: "img/place05.jpg"}
              .ranking__information
                .ranking__name 国際みんなのウェディングホテル
                .ranking__evaluation
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  %span.material-icons.ranking__icon star_rate
                  .ranking__num 4.51
                .ranking__text 都会にいながら森のような庭園

          .more
          .more__text もっと見る
          -# もっといいアイコンあるかも
          .more__icon.material-icons keyboard_arrow_right          

        .area
          %h2.area__title エリアから探す
          .area__container
            .area__name 北海道
            .area__icon >

          .area__container
            .area__name 東北
            .area__icon +

          .area__container
            .area__name 首都圏
            .area__icon +

          .area__container
            .area__name 北信越
            .area__icon +

          .area__container
            .area__name 東海
            .area__icon +    

          .area__container
            .area__name 関西
            .area__icon +    

          .area__container
            .area__name 中国・四国
            .area__icon +    

          .area__container
            .area__name 九州・沖縄
            .area__icon +    

    .footer
      .footer__box
        .footer__container
          .footer__container-content
            %h3.footer__search-title 結婚式を探す
            .footer__search 結婚式場を探す
            .footer__search 口コミランキングから
            .footer__search こだわりウェディング特集から
            .footer__search 海外（ハワイ）から
            .footer__search 相談デスク
            .footer__search ブライダルフェアから

          .footer__container-content
            %h3.footer__search-title ウェディングアイテムを探す
            .footer__search ウェディングドレスを探す
            .footer__search 結婚・婚約指輪を探す
            .footer__search 前撮り・フォトウェディングを探す
            .footer__search 演出＆ウェディングアイテムを探す

          .footer__container-content-last
            %h3.footer__search-title 結婚式について知る
            .footer__search みんなのウェディングニュース
            .footer__search 結婚準備マニュアル
            .footer__search 相談広場
            .footer__search 口コミを見る
            .footer__search 費用明細を見る

        .footer__company 企業情報
        .footer__company-container
          .footer__company-information-first 会社概要
          |
          .footer__company-information プライバシーポリシー
          .footer__pipe|
          .footer__company-information-last 式場掲載・広告掲載のご案内
