!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    %link{ rel: "stylesheet", href: "./css/style.css" }

  %body
    .header
      .header__flex
        %h1.header__logo-container
          %img.header-logo{ src: "img/logo.png", alt: "logo" }
        .header-search
          %span.material-icons.header-search__icon search
          .header-search__text 例) 式場名など気になるキーワード

    .navigation-bar
      .navigation-bar__content
        .navigation-icon
        .navigation-text 結婚式場
      
      .navigation-bar__content
        .navigation-icon 
        .navigation-text ニュース

      .navigation-bar__content
        .navigation-icon 
        .navigation-text　ドレス

      .navigation-bar__content
        .navigation-icon 
        .navigation-text　デスク

      .navigation-bar__content
        .navigation-icon 
        .navigation-text　花コミュ        

    %img.top-img{ src: "https://img2.mwed.jp/second_level/categories_main_pc.jpg"}

    .flex
      .main
        .main__place-styles 
          %h2 こだわりから式場を探す
        .main__news
          %h2 ニュースを読んで式場を探す

      .side
        .side__ranking
          %h2 東京都の式場ランキング

        .side__perfectures
          %h2 エリアから探す

    .footer
      .footer__box
        .footer-flex
          .footer-flex__content
            %h3 結婚式を探す
          .footer-flex__content
            %h3 ウェディングアイテムを探す
          .footer-flex__content
            %h3 結婚式について知る
        .footer-company 企業情報
        .footer-company-flex
          .footer-company-information　会社概要
          |
          .footer-company-information プライバシーポリシー
          |
          .footer-company-information　式場掲載・広告掲載のご案内
