!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined', rel: 'stylesheet' }
    %link{ rel: "stylesheet", href: "./css/style.css" }

  %body
    .header
      .header__container
        %h1.header__logo-container
          %img.header-logo{ src: "img/logo.png", alt: "logo" }
        .header-search
          %span.material-icons-outlined.header-search__icon search
          .header-search__text 例) 式場名など気になるキーワード

    .navigation-bar
      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon account_balance
        .navigation-bar-text 結婚式場
      
      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon{ style: "outline" } photo_library
        .navigation-bar-text ニュース

      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon navigation
        .navigation-bar-text　ドレス

      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon headset_mic
        .navigation-bar-text　デスク

      .navigation-bar__content
        %span.material-icons-outlined.navigation-bar__icon group
        .navigation-bar-text　花コミュ        

    %img.top-img{ src: "https://img2.mwed.jp/second_level/categories_main_pc.jpg"}

    .wrapper
      .wrapper__main
        .place-styles 
          %h2.place-styles__title こだわりから式場を探す
          %p.place-styles__description 会場ジャンルやこだわりから式場を探そう。
          .place-styles__container
            .place-styles__container-content
              %img.place-styles__img{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/hotelwedding_top.jpg"}
              .place-styles__img-name ホテル
            .place-styles__container-content
              %img.place-styles__img{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/housewedding_top.jpg"}
              .place-styles__img-name レストラン
            .place-styles__container-content
              %img.place-styles__img{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/restaurantwedding_top.jpg"}
              .place-styles__img-name ゲストハウス
            .place-styles__container-content
              %img.place-styles__img{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/shrinewedding_top.jpg"}
              .place-styles__img-name 神社・仏閣婚
            .place-styles__container-content
              %img.place-styles__img{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/church_top.jpg"}
              .place-styles__img-name 教会・チャペル
            .place-styles__container-content
              %img.place-styles__img{ src: "https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/weddinghall_top.jpg"}
              .place-styles__img-name 専門式場
          .place-styles__more
            .place-styles__more-text もっと見る
            -# もっといいアイコンあるかも
            .place-styles__more-icon.material-icons keyboard_arrow_right

        .news
          %h2 ニュースを読んで式場を探す
          %p.place-styles__description 結婚式の種類や式場のまとめ記事を読んで、好きな式場を見つけよう。

      .wrapper__side
        .ranking
          %h2 東京都の式場ランキング

        .perfectures
          %h2 エリアから探す

    .footer
      .footer__box
        .footer-container
          .footer-container__content
            %h3 結婚式を探す
          .footer-container__content
            %h3 ウェディングアイテムを探す
          .footer-container__content
            %h3 結婚式について知る
        .footer-company 企業情報
        .footer-company-container
          .footer-company-information　会社概要
          |
          .footer-company-information プライバシーポリシー
          |
          .footer-company-information　式場掲載・広告掲載のご案内
