!!! 5
%html{lang: 'ja'}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'description', content: '実習用のサンプルコードです'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title 最終課題
  %body
    %header.header
      .header__contents
        %h1.header__title
          %a{href: '#'}
          %img.header__logo{src: "../../sample/09/01/images/logo.png"}
        .header__search
          %span.material-icons.header__search-icon search
          %input.header__search-text{type: 'text', placeholder: '例) 式場名など気になるキーワード'}
    %footer
    %contents