@import 'reset';
@import 'mixin';
@import 'header';
@import 'navigation-bar';
@import 'footer';
@import 'top-image';
@import 'feeling-style';
@import 'news';
@import 'ranking';
@import 'area';

.body {
  width: 100vw;
  display: flex;
  flex-flow: column;
  //min-height: 100vh;
  justify-content: center;

}

.wrap {
  //width: 100%;
  //overflow: hidden;
  //margin: 0 auto;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  padding-bottom: 40px;
  @include screen(smartphone) {
    flex-flow: column;
  }

  .sub-contents {
    margin-left: 15px;
    @include screen(smartphone) {
      margin: 0;
    }
  }
}




