.footer {
  background-color: #F9F7F2;
  border: #3b4b5b 1px solid;
  padding-bottom: 2px;
}
.site-map {
  display: flex;
  justify-content: space-around;
  padding: 40px 50px;
  .site-map__container {
    padding: 5px 40px;
  }
  .site-map__title {
    font-size: 22px;
    margin: 0 0 10px 5px;
    border-bottom: 1px #D4C29D solid;
  }
  .site-map__list {
    margin-left: 10px;
    list-style-type: none;
    display: block;
  }
  .site-map__item {
    margin-bottom: 5px;
  }
}
.company {
  margin: 20px auto 20px 220px;
  .company__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .company__information {
    display: flex;
  }
  .company__item {
    font-size: 12px;
    //border-left: 1px #999999 solid;
    &::after {
      content: " | ";
      padding: 0 10px;
      color: #b0becc;
    }
    &:last-of-type::after {
      content: "";
    }

  }
}

