.header {
  width: 100%;
  height: auto;
  border-bottom: 1px #F0EADD solid;

  .header__container {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
  }
  .material-icons{
    display: inline-flex;
    vertical-align: middle;
  }
  .header__logo {
  }
  .header__search {
    width: 350px;
    margin: 10px;
    border: #8ae3d2 1px solid;
    padding: 10px;
    border-radius: 3px;
  }
}