.nav {
  width: 67%;
  margin: 20px auto;
  .nav__container {
  }
  .nav__items {
    font-size: 16px;
    font-color: #8198AE;
    display: flex;
    justify-content: space-around;
  }
  .nav__item {
  }
}