!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ rel: "stylesheet", href: "./site.css" }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    %title 実習09
  %body
    %header.header
      .header__container
        .header__logo
          %img.header__image{ src: './images/logo.png' }
        .header__search
          %span.material-icons search
          %input{ type: "text", style: "border:none", placeholder: '例）式場名など気になるキーワード'}
