!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ rel: "stylesheet", href: "./site.css" }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    %title 実習09
  %body
    %header.header
      .header__container
        .header__logo
          %img.header__image{ src: './images/logo.png' }
        .header__search
          %span.material-icons.header__icon search
          %input{ type: "text", style: "border:none", placeholder: '例）式場名など気になるキーワード'}

    %nav.nav
      .nav__container
        .nav__items
          .nav__item.material-icons account_balance 結婚式場
          .nav__item.material-icons filter ニュース
          .nav__item.material-icons navigation ドレス
          .nav__item.material-icons headset デスク
          .nav__item.material-icons group 花コミュ

    %img.top-image{ src: 'https://img2.mwed.jp/second_level/categories_main_pc.jpg', alt: '式場探し' }

    .main
      .ceremonial-hall
        %h2.ceremonial-hall__title こだわりの式場を探す
        %h3.ceremonial-hall__text 会場ジャンルやこだわりから式場を探そう。
        .hall
          .hall--icon
            %img.hall__image{ src: 'https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/hotelwedding_top.jpg', alt: 'ホテル' }
            .hall__text ホテル
          .hall--icon
            %img.hall__image{ src: 'https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/restaurantwedding_top.jpg', alt: 'レストラン' }
            .hall__text レストラン
          .hall--icon
            %img.hall__image{ src: 'https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/housewedding_top.jpg', alt: 'ゲストハウス'}
            .hall__text ゲストハウス
          .hall--icon
            %img.hall__image{ src: 'https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/shrinewedding_top.jpg', alt: '神社・仏閣婚'}
            .hall__text 神社・仏閣婚
          .hall--icon
            %img.hall__image{ src: 'https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/church_top.jpg', alt: '教会・チャペル'}
            .hall__text 教会・チャペル
          .hall--icon
            %img.hall__image{ src: 'https://img2.mwed.jp/c/f=webp:jpeg,ir=auto/smartphone/place_genres/thumbnail/weddinghall_top.jpg', alt: '専門式場'}
            .hall__text 専門式場
        %h2.ceremonial-hall__title ニュースを読んで式場を探す
        %h3.ceremonial-hall__text 結婚式の種類や式場のまとめ記事を読んで、好きな式場を見つけよう。
        .news
          .news__post
            %img.news__image{ src: './images/place01.jpg', width: "120", height: "120", alt: '式場のカップルや結婚式に対して考えていること' }
            .news__textarea
              .news__title ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__information 2020年5月26日
          .news__post
            %img.news__image{ src: './images/place02.jpg', width: "120", height: "120", alt: 'オンライン・電話で相談ができる！式場一覧' }
            .news__textarea
              .news__title 【東京都】オンライン・電話で相談ができる！式場一覧
              .news__information 2020年5月26日
          .news__post
            %img.news__image{ src: './images/place03.jpg', width: "120", height: "120", alt: '式場のカップルや結婚式に対して考えていること' }
            .news__textarea
              .news__title ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__information 2020年5月26日
          .news__post
            %img.news__image{ src: './images/place04.jpg', width: "120", height: "120", alt: '式場のカップルや結婚式に対して考えていること' }
            .news__textarea
              .news__title ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__information 2020年5月26日
          .news__post
            %img.news__image{ src: './images/place05.jpg', width: "120", height: "120", alt: '式場のカップルや結婚式に対して考えていること' }
            .news__textarea
              .news__title ＼式場に聞いてみたシリーズ／式場のカップルや結婚式に対して考えていること
              .news__information 2020年5月26日
      .ranking
        %h3.ranking__title 東京都の式場のランキング
        .ranking__place
          %img.ranking__place-image{ src: "./images/place01.jpg", width: "90", height: "90", alt: "国際みんなのウェディングホテル" }
          .ranking__place-information
            .ranking__place-name 国際みんなのウェディングホテル
            .ranking__place-score ★★★★★★★
            .ranking__place-headline 都会にいながら森のような庭園

