@import 'reset';
@import 'mixin';

html {
  color: #3B4B5B;
}

// header
.header {
  margin-top: 20px;
  height: 67px;
  border-bottom: 1px solid #F0EADD;
}

.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  margin: 0 auto;

  .header-item__logo {
    width: 216px;
    height: 47px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #8AE3D2;
  border-radius: 4px;
  width: 328px;
  height: 38px;
  color: #B0BECC;
  .search-form__icon {
    margin-left: 15px;
    font-size: 24px;
  }

  .search-form__textarea {
    border: none;
    outline: none;
    font-size: 12px;
    width: 100%;
  }
  .search-form__textarea::placeholder {
    color: #B0BECC;
  }
}

// navigation-bar
.navigation-bar {
  width: 980px;
  margin: 22px auto 10px;
  color: #8198B6;

  .navigation-bar__items {
    display: flex;
    justify-content: space-between;
    margin: 0 163px;
  }

  .navigation-bar__text {
    font-size: 16px;
    font-weight: bold;
  }
  .navigation-bar__icon {
    font-size: 14px;
  }
}

//top
.top {
  width: 800px;
  margin: 0 auto;
  .top__image {
    width: 800px;
  }
}

// contents
.contents {
  display: flex;
  width: 980px;
  margin: 0 auto;
  .contents__main {
    width: 643px;
    height: 1128px;
    margin-right: 15px;
  }

  .contents__top_main {
    position: relative;
    height: 62px;
    border-bottom: double 5px #D4C29D;
  }

  .contents__headline {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    left: 21.43px;
    bottom: 5px;
  }

  .contents__sentence {
    margin: 20px 10px;
    font-size: 14px;
  }

  // side
  .contents__side {
    width: 322px;
    height: 1168px;
  }

  .contents__top_side {
    position: relative;
    height: 67px;
    border-bottom: solid 1px #D4C29D;
  }
}

.place-styles {
  position: relative;
  height: 271px;

  .place-styles__contents {
    display: flex;
    justify-content: space-between;
  }

  .place-styles__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 117px;
  }

  .place-styles__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .place-styles__text {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.news {
  position: relative;
  height: 853px;
  .news__contents {
    display: flex;
    flex-direction: column;
  }
  .news__content {
    display: flex;
    border-top: solid 1px #F0EADD;
  }
  .news__image {
    width: 120px;
    height: 120px;
    margin: 10px;
  }
  .news__text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
  }
  .news__text_headline {
    font-size: 15px;
    font-weight: bold;
  }
  .news__text_days {
    position: absolute;
    font-size: 12px;
    color: #8198AE;
    bottom: 0;
  }
}


// footer
.footer {
  background-color: #F9F7F2;
  height: 310px;
  color: #3B4B5B;
}

.footer-contents {
    display: flex;
    width: 980px;
    justify-content: space-between;
    margin: 0 auto;
  }

.footer-content__top {
  border-bottom: 1px solid #D4C29D;
  margin-bottom: 10px;
}

.footer-content {
  width: 301px;
  margin-top: 45px;

  .footer-content__headline {
    font-size: 22px;
    margin: 0 0 5px 10px;
  }

  .footer-content__item {
    text-decoration: none;
    color: #3B4B5B;
    font-size: 12px;
    line-height: 18px;
    margin-left: 10px;
  }
}

.footer-company {
  width: 980px;
  font-size: 14px;
  margin: 45px auto 10px;

  .footer-company__information {
    margin-bottom: 10px;
  }

  .footer-company__content {
    display: inline;
    font-size: 12px;

    &::after {
      content: "|";
    }

    &:last-child::after {
      content: "";
    }
  }
  .footer-company__content-link {
    text-decoration: none;
    color: #3B4B5B;
  }
}

.more-link {
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  color: #AC8C4B;
  bottom: 0;
  right: 14px;

  &::after {
    display: inline-block;
    color: white;
    font-size: 12px;
    content: ">";
    background-color: #AC8C4B;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 19px;
    margin-left: 5px;
  }
}
