.chapel-block {
  width: 300px;
  height: 500px;
  background-color: rgb(223, 114, 114);
  .chapel-block__img-element {
    width: 100px;
    height: 100px;
  }
}

.block-first {
  background-color: #FFF0F0;
}
