.title {
  padding-bottom: 15px;
  border-bottom: 3px solid #d4c29d;
}

.flex-container{
  display: flex;
  justify-content: space-around ;
  border-bottom: 1px solid #d4c29d;
  margin-top: 10px;
}

.contents {
  flex: auto;
  margin-left: 5px;
}

.flex-sub-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flex-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.content {
  /* width: 100%; */
  text-align: left;
  color: #3b4b5b;
  flex-grow: 3;
}
.flex-post-title {
  margin: 0;
  font-size: 20px;
}

.flex-post-text {
  font-size: 10px;
}

.language {
  font-size: 10px;
  text-align: left;
}

.icon {
  font-size: 10px;
  margin-left: 10px;
}

.new {
  background-color: coral;
  color: #ffffff;
  padding: 5px;
  font-size: 10px;
  margin-bottom: auto;
}

.side-flex-container {
  display: flex;
  justify-content: space-around ;
  margin-top: 10px;
}

.side-flex-post {
  flex: auto;
  width: 30%;
  height: 500px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-img {
  width: 100%;
}

.side-title {
  color: #3b4b5b;
  font-size: 20px;
}

.side-text {
  color: #3b4b5b;
  font-size: 15px;
}

.side-flex-post-information {
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
}

.side-flex-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* vertical-align: middle; */
  margin-top: 10%;
}

.post-information {
  flex: auto;
}

.post-user-name {
  font-size: 10px;
  color: #a58c5a;
  margin-bottom: 0;
}

.post-date {
  font-size: 8px;
  color: #3b4b5b;
  margin-top: 0;
}
