.article {
    display: grid;
    gap: 10px;
    grid-template-columns: 15vw 15vw 15vw;
    /*grid-template-rows: 180px 100px 80px 120px auto;*/
    border: #ff952b 1px solid;
}
.post {
    /*margin: 10px;*/
}
.box-big1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.box-big2 {
    grid-row: 3 / 5;
}
.post-image {
    width: 100%;
    height: 80%;
}
