@mixin screen($screen) {
  @if ($screen == pc) {
    @media(min-width: 768px) {
      @content;
    }
  } @else if ($screen == smartphone) {
    @media(max-width: 768px) {
      @content;
    }
  }
}

@mixin title($font-size: 20px) {
    font-size: $font-size;
    font-weight: bold;
    padding: 0 0 5px 10px;
    border-bottom: 1px solid #d4c29d;
}
