!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title 実習09のサンプル
  %body
    %header.header
      .header__container
        %h1.header__title
          %a{ href: '#' }
            %img.header__logo{ src: './images/logo.png' }
        .header__search-box
          %span.material-icons.header__search-icon search
          %input{ type: 'text', placeholder: '例）式場名などの気になるワード', class: "header__search-input" }

    %nav.navigation-bar
      .navigation-bar__container
        %ul.navigation-bar__items
          %li.navigation-bar__item
            %span.material-icons.navigation-bar__item-icon account_balance
            %span.navigation-bar__item-text 結婚式場
          %li.navigation-bar__item
            %span.material-icons.navigation-bar__item-icon collections
            %span.navigation-bar__item-text ニュース
          %li.navigation-bar__item
            %span.material-icons.navigation-bar__item-icon navigation
            %span.navigation-bar__item-text ドレス
          %li.navigation-bar__item
            %span.material-icons.navigation-bar__item-icon headset_mic
            %span.navigation-bar__item-text デスク
          %li.navigation-bar__item
            %span.material-icons.navigation-bar__item-icon group
            %span.navigation-bar__item-text 花コミュ

    %footer.footer
      .footer__contents
        .footer__content
          %h4.footer__content-title 結婚式を探す
          %ul
            %li.footer__content-item 結婚式場を探す
            %li.footer__content-item 口コミランキングから
            %li.footer__content-item こだわりウェディング特集から
            %li.footer__content-item 海外（ハワイ）から
            %li.footer__content-item 相談デスク
            %li.footer__content-item ブライダルフェアから
            %li.footer__content-item プランから
            %li.footer__content-item 特典から

        .footer__content
          %h4.footer__content-title ウェディングアイテムを探す
          %ul
            %li.footer__content-item ウェディングドレスを探す
            %li.footer__content-item 結婚・婚約指輪を探す
            %li.footer__content-item 前撮り・フォトウェディングを探す
            %li.footer__content-item 演出＆ウェディングアイテムを探す

        .footer__content
          %h4.footer__content-title 結婚式について知る
          %ul
            %li.footer__content-item みんなのウェディングニュース
            %li.footer__content-item 結婚準備マニュアル
            %li.footer__content-item 相談広場
            %li.footer__content-item 口コミを見る
            %li.footer__content-item 費用明細を見る

      .footer__corporation
        %h4.footer__corporation-information 企業情報
        %ul
          %li.footer__corporation-title 会社概要
          %li.footer__corporation-title プライバシーポリシー
          %li.footer__corporation-title 式場掲載・広告掲載のご案内
