@import "reset";

.header {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #F0EADD;
  margin-top: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo-container {
    width: 216px;
    height: 47px;
    margin: 0 436px 20px 0;
  }
}

.header-search {
  display: flex;
  border: 1px solid #8AE3D2;
  border-radius: 4px;
  margin: 4px 0 25px 0;
  width: 328px;
  height: 38px;

  &__icon {
    margin: 7px 2px 7px 15px;
    font-size: 24px;
    vertical-align: middle;
    color: #B0BECC;
  }

  &__text {
    font-size: 12px;
    color: #999999;
    margin: 9px 0 9px 0;
    vertical-align: middle;
  }
}

.navigation-bar {
  display: flex;
  justify-content: center;
  width: 980px;
  height: 18px;
  margin: 20px auto 10px auto;

  &__content {
    display: flex;
    margin: auto 24px;
    color: #8198AE;
  }

  &__icon {
    font-size: 24px;
  }
  
  &__text {
    font-size: 16px;
    font-weight: bold;
  }
}

.top-img {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 408.16;
}

.wrapper {
  display: flex;
  justify-content: center;

  &__main {
    width: 643px;
    height: 1128px;
  }

  &__side {
    width: 322px;
    height: 1168px; 
    margin-left: 15px;
  }
}

.place-styles {
  height: 271px;

  &__title {
    color: #3B4B5B;
    font-size: 22px;
    font-weight: bold;
    margin: 51px auto 21px auto;
    padding-left: 21.43px;
    padding-bottom: 5px; // 16 - (22/2)
    border-bottom: 4px double #D4C29D;
  }

  &__description {
    font-size: 14px;
    margin: 20px 0 20px 10px; //　right は　title の　x軸との差分
    color: #3B4B5B;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__container-content {
    width: 100px;
    height: 117px;
  }

  &__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  &__img-name {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}

.more {
  display: flex;
  width: 185px;
  height: 28px;
  margin-left: auto;
  font-size: 14px;

  .more__text {
    margin: 10px 0 2px 82px;
    color: #Ac8C4B;
  }
  
  .more__icon {
    margin: 8px 8px 0 0;
    background-color: #Ac8C4B;
    color: #FFFFFF;
    border-radius: 50%;
    vertical-align: middle;
  }
}


.news {
  height: 859px;

  &__title {
    color: #3B4B5B;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto 21px auto;
    padding-left: 21.43px;
    padding-bottom: 5px; // 16 - (22/2)
    border-bottom: 4px double #D4C29D;
  }

  &__description {
    font-size: 14px;
    margin: 20px 0 20px 10px; //　right は　title の　x軸との差分
    color: #3B4B5B;
  }

  &__container {
    display: flex;
    margin-left: 10px;
    border-top: 1px solid #F0EADD;
    padding: 10px 0;
  }

  &__img {
    width: 120px;
    height: 120px;
  }

  &__text {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #3B4B5B;
  }

  &__date {
    font-size: 12px;
    color: #8198AE;
    margin: 38px auto 10px 15px;
    // left : 44 - (12/2) = 38px  
    // bottom : 26 - (12/2) - 10 = 10px
  }
}

.ranking {
  height: 596px;

  &__title {
    // height: 72px;
    font-size: 22px;
    font-weight: bold;
    color: #3B4B5B;
    padding: 45px 1.07px 5px 1.07px;
    border-bottom: 1px solid #D4C29D;
    margin-bottom: 10px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &::before {
      content: "1";
      // color: #FFFFFF;
      position: absolute;
      top: 0;
      right: -10px;
    
      /* traiangle */
      border-top: 10px solid #AC8C4B;
      border-bottom: 10px solid transparent;
      border-right: 10px solid  transparent;
      border-left: 10px solid #AC8C4B;
      width: 0;
      height: 0;
    }
  }

  &__img {
    width: 90px;
    height: 90px;
  }
  

  &__name {
    font-size: 14px;
    color: 3B4B5B;    
  }

  &__evaluation {
    display: flex;
    color: #FF658B;
  }

  &__icon {
    font-size: 24px;
    margin-top: 13px;
  }

  &__num {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 6.5px; // (27 - 14)/2
  }

}

.area {
  height: 376px;

  &__title {
    font-size: 22px;
    font-weight: bold;
    padding: 45px 157.3px 5px 10.7px;
    border-bottom: #D4C29D solid 1px;
    color: #3B4B5B;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    height: 32px;
    border-bottom: #F0EADD solid 1px;
  }

  &__name {
    font-size: 14px;
    vertical-align: middle;
    margin: 12px auto 12px 10px;
    color: #3B4B5B;
  }

  &__icon {
    font-size: 20px;
    color: #D4C29D;
    vertical-align: middle;
    margin: 9px 10px 0 0;
  }
}

.footer {
  width: 100%;
  height: 310px;
  background-color: #F9F7F2;
  
  &__box {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__container-content {   
    width: 301px;
    height: 190px;
    margin-right: 38px;
  }

  &__container-content-last {
    width: 301px;
    height: 190px;
  }

  &__search-title {
    font-size: 22px;
    color: #3B4B5B;
    border-bottom: #D4C29D solid 1px;
    padding: 45px 0 5px 10px;
    margin-bottom: 15px;
  }

  &__search {
    font-size: 12px;
    color: #3B4B5B;
    margin-left: 10px;

  }

  &__company {
    font-size: 14px;
    color: #3B4B5B;
    margin-bottom: 10px;
  }
  
  &__company-container {
    display: flex;
    color: #3B4B5B;
    font-size: 12px;
  }

  &__company-information-first {
    margin-right: 13px;
  }

  &__company-information {
    margin: 0 13px;
  }
}
