!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charaset: "UTF-8" }
    %meta{ content: "実習用のサンプルコード", name: "description" }
    %link{ rel: "stylesheet", href: "../../06/01/site.css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }
    %title HTML/CSS 研修 2020

  %body
    .h3 横並びにしてみる
    .reports
      .report
        .report__text
          .ribbon.-rank1 みんなに選ばれた式場
          .report__information
            %a.report__hotel-name{ href: "#"} 国際みんなのウェディングホテル
            %div
              %span.material-icons.report__area-icon room
              %span.report__area-text 文京・池袋・練馬・板橋エリア
              %p.report__lead 都会にいながら森のような庭園、チャペルや神前式など、様々なスタイルでお二人らしい挙式が可能
        %img.report__thumbnail{ src: "../../06/01/hotel-image.jpg"}

      .report
        .report__text
          .ribbon みんなに選ばれた式場
          .report__information
            %a.report__hotel-name{ href: "#"} 国際みんなのウェディングホテル
            %div
              %span.material-icons.report__area-icon room
              %span.report__area-text 文京・池袋・練馬・板橋エリア
              %p.report__lead 都会にいながら森のような庭園、チャペルや神前式など、様々なスタイルでお二人らしい挙式が可能
        %img.report__thumbnail{ src: "../../06/01/hotel-image.jpg"}

      .report
        .report__text
          .ribbon みんなに選ばれた式場
          .report__information
            %a.report__hotel-name{ href: "#"} 国際みんなのウェディングホテル
            %div
              %span.material-icons.report__area-icon room
              %span.report__area-text 文京・池袋・練馬・板橋エリア
              %p.report__lead 都会にいながら森のような庭園、チャペルや神前式など、様々なスタイルでお二人らしい挙式が可能
        %img.report__thumbnail{ src: "../../06/01/hotel-image.jpg"}

      .report
        .report__text
          .ribbon みんなに選ばれた式場
          .report__information
            %a.report__hotel-name{ href: "#"} 国際みんなのウェディングホテル
            %div
              %span.material-icons.report__area-icon room
              %span.report__area-text 文京・池袋・練馬・板橋エリア
              %p.report__lead 都会にいながら森のような庭園、チャペルや神前式など、様々なスタイルでお二人らしい挙式が可能
        %img.report__thumbnail{ src: "../../06/01/hotel-image.jpg"}
