.main-title {
    color: #2fc3a7;
    font-weight: bold;
    border-bottom: 1px solid #d4c29d;
}
.sub-title {
    color: #2fc3a7;
    font-weight: bold;
}

.lead-text {
    color: #3b4b5b;
    font-size: 14px;
    line-height: 1.6;
}

.advertisement-badge {
    background: #f28eaf;
    padding: 5px;
}

.new-arrival-badge {
    background: #fada7a;
    padding: 5px;
}
.favorite-food {
    border-radius: 4px;
}

.favorite-food-icon {
    border-radius: 50%;
    width: 80px;
    height: auto;
}
.triangle {
    border-top: 30px solid #f28eaf;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #2fc3a7;
    border-left: 30px solid transparent;
    width: 0;
    height: 0;
}
.ribbon {
    position: relative;
    display: inline-block;
    background-color: #2fc3a7;
    color: #ffffff;
    padding: 5px 10px;
    height: 20px;
    box-sizing: border-box;
}
.ribbon::after {
    position: absolute;
    top: 0;
    right: -10px;
    content: "";
    border-top: 10px solid #2fc3a7;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2fc3a7;
    border-left: 10px solid transparent;
    width: 0;
    height: 0;
}
.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
}
.plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid green;
    line-height: 50px;
    text-align: center;
}
.plus:hover {
    background-color: pink;
    color: white;
}
.card {
    width: 400px;
    height: 200px;
    border: 1px solid red;
    border-radius: 4px;
}
.button {
    width: 40px;
    height: 20px;
    font-size: 10px;
    line-height: 2.0;
    padding: 5px 10px;
    background-color: pink;
    border: 1px solid white;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
}

.favorite-icon {
    font-size: 16px;
    line-height: 1.5;
    vertical-align: middle;
}

.search-form {
    border: 1px solid green;
    width: 200px;
    height: 30px;
    border-radius: 4px;
}
.search-icon {
    color: grey;
    font-size: 20px;
    line-size: 1.5;
    vertical-align: middle;
}
.search-text-area {
    vertical-align: middle;
    border: none;
    height: 24px;
    width: 160px;
}
.link {
    text-decoration: none;
    color: #3b4b5b;
    display: block;
    width: 200px;
    position: relative;
}
.link::after {
    content: ">";
    position: absolute;
    right: 0;
    color: #b2ce54;
    font-weight: bold;
}
ul {
    list-style: note;
    padding: 0;
    margin: 0;
}
.breadcrumb-item {
    display: inline;
    color: #b2ce54;
}
.breadcrumb-item-link {
    color: #b2ce54;
}
.breadcrumb-item::after {
    content: ">"
}
.breadcrumb-item:last-child::after {
    content: ""

}
