.place {
  font-size: 14px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #c6ae7d;

  &:first-child {
    border-radius: 8px 8px 0 0;
    background-color: #fff2e6;
  }
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
  &__information {
    flex: 2;
    padding-right: 10px;
  }
  &__name {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    color: #2fc3a7;
    font-weight: bold;
  }
  &__lead {
    font-size: 12px;
    line-height: 1.2;
    color: #536a80;
    margin-bottom: 10px;
  }
}

