.container{
    /*display: flex;*/
    border-top: solid 4px burlywood;
}
.question-container {
    display: flex;
    border-bottom: solid 1px burlywood;
}
.question-title-text-position {
    margin-top: 10px;

}
.question-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.question-title {
    margin-bottom: 10px;
}
.question-opacity {
    opacity: 0.5;
}
.question-text {
}
.question-status {
    display: flex;
}
.question-category {
    flex-grow: 0;
}
.comment-number {
    flex-grow: 3;
}
.post-times {
    background-color: #ff952b;
    color: #ffffff;
    padding: 3px;
    flex-grow: 0;
}