.container{
    /*display: flex;*/
    border-top: solid 4px burlywood;
}
.question-container {
    display: flex;
    border-bottom: solid 1px burlywood;
}
.question-post {
    width: 100%;
}
.question-title {
}
.question-opacity {
    opacity: 0.5;
}
.question-text {
    position: absolute;
}
.question-status {
    position: relative;
    bottom: -95px;
    display: flex;
}
.question-category {
    flex-grow: 0;
}
.comment-number {
    flex-grow: 3;
}
.post-times {
    background-color: #ff952b;
    color: #ffffff;
    padding: 3px;
    flex-grow: 0;
}