!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title HTML/CSS 研修 2020
  %body
    %h1 HTML/CSS 研修 2020

    %h2 第1章 HTMLとは
    %ol
      %li
        HTMLを書く
        %br
        %a{href: "sample/01/01/index.html"} サンプル
        %br
        %a{href: "practice/01/01/index.html"} あなたの解答

    %h2 第2章 CSSとは
    %ol
      %li
        CSSを書く
        %br
        %a{href: "sample/02/01/index.html"} サンプル
      %li
        CSSの詳細度
        %br
        %a{href: "sample/02/02/index.html"} サンプル

    %h2 第3章 部品を作る
    %ol
      %li
        部品を作る
        %br
        %a{href: "sample/03/01/index.html"} サンプル
        %br
        %a{href: "practice/03/01/index.html"} 解答

    %h2 第4章 部品を組み合わせる①
    %ol
      %li
        レイアウトの方法
        %br
        %a{href: "sample/04/01/index.html"} サンプル
        %br
        %a{href: "practice/04/01/index.html"} 解答
      %li
        部品を組み合わせてみる
        %br
        %a{href: "sample/04/02/index.html"} サンプル
        %br
        %a{href: "practice/04/02/index.html"} 解答

    %h2 第5章 部品を組み合わせる②
    %ol
      %li
        前回の復習
        %br
        %a{href: "sample/05/01/index.html"} サンプル
      %li
        flex, cssグリッドを使ったよくあるレイアウト
        %br
        %a{href: "sample/05/02/index.html"} サンプル
      %li
        部品を組み合わせてみる
        %br
        %a{href: "sample/05/03/index.html"} サンプル
        %br
        %a{href: "practice/05/03/index.html"} 解答

    %h2 第6章 sassについて / 第7章 hamlについて
    %ol
      %li
        sass/hamlで書き換える
        %br
        %a{href: "sample/06/01/index_haml.html"} サンプル

    %h2 第8章 レスポンシブについて
    %ol
      %li
        レスポンシブ対応
        %br
        %a{href: "sample/08/01/index_haml.html"} サンプル

    %h2 第9章 １ページ作る
    %ol
      %li
        %a{href: "sample/09/01/index_haml.html"} サンプル
