!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title HTML/CSS 研修 2020
  %body
    %h1 HTML/CSS 研修 2020

    %h2 第1章 HTMLとは
    %ol
      %li
        HTMLを書く
        %br
        %a{href: "sample/01/01/index.html"} サンプル
        %br
        %a{href: "practice/01/01/index.html"} あなたの解答

    %h2 第2章 CSSとは
    %ol
      %li
        CSSを書く
        %br
        %a{href: "sample/02/01/index.html"} サンプル
      %li
        CSSの詳細度
        %br
        %a{href: "sample/02/02/index.html"} サンプル

    %h2 第3章 部品を作る
    %ol
      %li
        部品を作る
        %br
        %a{href: "sample/03/01/index.html"} サンプル
