!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    %link{ rel: "stylesheet", href: "./css/style.css" }
  %body
    %h1 BEM記法
    .chapel-block.chapel-block_first.flex
      %div
        .chapel-block__point-element.point_first みんなに選ばれた式場
        .chapel-block__chapel-name-element 国際みんなのウェディングホテル
        .chapel-block__area-element
          %span.material-icons.chapel-block__icon-element location_on
          文京・池袋・練馬・板橋エリア
        .chapel-block__text-element 都会にいながら森のような庭園。チャペル挙式や神前式など、様々なスタイルでお二人らしい挙式が可能。
      %img.chapel-block__img-element{ src: "https://img.mwed.jp/c/f=webp:jpeg,ir=auto/alb2/7/953/nrdmrdmb5ipc63hoc631gosuf731000.jpg" }

    .chapel-block.flex
      %div
        .chapel-block__point-element みんなに選ばれた式場
        .chapel-block__chapel-name-element 国際みんなのウェディングホテル
        .chapel-block__area-element
          %span.material-icons.chapel-block__icon-element location_on
          文京・池袋・練馬・板橋エリア
        .chapel-block__text-element 都会にいながら森のような庭園。チャペル挙式や神前式など、様々なスタイルでお二人らしい挙式が可能。
      %img.chapel-block__img-element{ src:"https://img.mwed.jp/c/f=webp:jpeg,ir=auto/alb2/7/953/nrdmrdmb5ipc63hoc631gosuf731000.jpg" }

    .chapel-block.flex
      %div
        .chapel-block__point-element みんなに選ばれた式場
        .chapel-block__chapel-name-element 国際みんなのウェディングホテル
        .chapel-block__area-element
          %span.material-icons.chapel-block__icon-element location_on
          文京・池袋・練馬・板橋エリア
        .chapel-block__text-element 都会にいながら森のような庭園。チャペル挙式や神前式など、様々なスタイルでお二人らしい挙式が可能。
      %img.chapel-block__img-element{ src: "https://img.mwed.jp/c/f=webp:jpeg,ir=auto/alb2/7/953/nrdmrdmb5ipc63hoc631gosuf731000.jpg" }

    %h2.title Q&A
    .QandA-block
      %img.QandA-block__icon-element{ src: "../06/img/bob.png" }
      .QandA-block__contents-element
        %p.flex-post-title.content fsafsdfdasfsafasfadsfasd
        %p.flex-post-text.content text text text text text text text text text text text text text text text text text text text
        .information-block
          %p.information-block__language-element
            HTML/CSS
            %span.material-icons.icon comment
            6
          %p.information-block__new-element NEW
