.container {
    display: flex;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post:nth-child(2n) {
    background-color: navajowhite;
}
.post-image {
    width: 95%;
    margin: 10px;
}
.post-text-zone {
    padding: 5px;
}
.post-title {

}
.post-text {
    margin-top: -10px;

}
.post-user-information {
    margin-left: auto;
    display: flex;

}
.post-user-icon {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.post-information p{
    margin: 3px;
}

