!!! 5
%html
  %head
    %meta{ charaset: "UTF-8" }
    %meta{ content: "実習用のサンプルコード", name: "description" }
    %link{ rel: "stylesheet", href: "../../05/01/site.css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }
    %title HTML/CSS 研修 2020

  %body
    %h3 課題①
    %h2.question Q&A
    .question-item
      %img.icon{ src: "../../05/01/neko2.jpeg" }
      .text.flex-text
        .question-title アメショの生態について
        %p.question-text
          testtesttesttest testtest
          testtest testtest testtest
          %br
          testtesttesttest testtest
          testtest testtest testtest
          testtesttesttest testtest
          testtest testtest testtest
          testtesttesttest testtest
          testtest testtest testtest
        .subcontents
          .category HTML/CSS
          %span.material-icons.comment-icon comment
          %span.comment-count 654
          .new new
    .question-item
      %img.icon{ src: "../../05/01/neko7.JPG" }
      .text
        .question-title うちの猫の足が短すぎるのですが...
        %p.question-text
          testtesttesttest testtest
          testtest testtest testtest
          %br
          testtesttesttest testtest
          testtest testtest testtest
          testtesttesttest testtest
          testtest testtest testtest
          testtesttesttest testtest
          testtest testtest testtest
        .subcontents
          .category HTML/CSS
          %span.material-icons.comment-icon comment
          %span.comment-count 22
          .new new

    %h3 課題②
    %h3 横並びにする
    .question-container
      .column-question-item
        %img.question-image{src: "../../05/01/neko.jpeg"}
        .question-title.bold testtest
        %p.question-text.flex-text
          testtesttestestesetsetstesetsetsetstetset
          etsetseetsetetesttesttestestesetsetsteset
          setsetstetsetetsetseetsetetesttesttestest
          esetsetstesetsetsetstetsetetsetseetsetete
          sttesttestestesetsetstesetsetsetstetsetet
          setseetsetetesttesttestestesetsetstesetse
          tsetstetsetetsetseetsete
        .user-information
          %div
            .img.icon{src: "../../05/01/neko7.JPG"}
          %div
            .user-name ニックネームさん
            .user-name 2020年02月02日
